body {
    background-color: #698d38;
    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.heading{
    color:bisque;
    text-align: center;
    margin-top: 10vh;
}

.container{
    display: block;
    font-size: 16px;
    margin: 10vh auto;
}

.button {
    border: none;
    height: 40px;
    width: 75vw;
    max-width: 300px;
    background-color: #191B10;
    color:bisque;
    text-align: center;
    display: block;
    font-size: 16px;
   margin: 8vh auto;
}

.button:hover {
    background-color: #1D200B;
}

.form-container{
    border: none;
    height: 150px;
    width: 80vw;
    max-width: 500px;
    background-color: #191B10;
    color:bisque;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 8vh auto;
    padding:8px;
}

input{
    outline: none;
}


/* game page*/

#game-container{
    height: 80vh;
    max-width: 90vw;
    max-height: 90vw;
    width: 80vh;
    background-color: #191B10;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding:5px;
    column-gap: 5px;
    row-gap: 5px;
}

.grid-item{
    background-color: grey;
}

.score-flexbox{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.score-container{
    height: 60px;
    width: 170px;
    background-color: #191B10;
    color:bisque;
    text-align: center;
    padding-top:4px;
    margin: 10px;
    display:block;
}

.lives-container{
    height: 60px;
    width: 170px;
    padding-top:15px;
    margin: 10px;
    display: block;
    text-align: center;
}

.star{
    color:goldenrod;
    font-size: 30px;
}