body {
    background-color: #698d38;
    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}